* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: rgba(208, 26, 31);
$grey: rgba(117, 117, 117);
$middle-grey: rgba(67, 67, 67);
$dark-grey: rgba(41, 41, 41);
$wine: #330606;
$dark-green: #1b5c00;

button {  
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

body {
  background:
    linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%),
    linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em,
    radial-gradient(at 50% 0, #484847, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  font-family: 'Roboto', sans-serif;  
  min-height: 98vh;
  padding: 15px 10px;  
  //overflow-x: hidden;
}

header {
  width: 100%;
  position: relative;
}

h1 {
  text-align: center;
  color: $red;
  font-size: 43px;
  text-transform: uppercase;
  letter-spacing: 0.2;
  font-family: 'Fugaz One', cursive;
  position: absolute;
  top: 20px;
  right: 40px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    top: -54px;
    height: 70px;
    width: 418px;
    background-size: 500px 70px;
    background-image: url('./assets/icons/logo.png');
    background-repeat: no-repeat;
  }  
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

  &__btn {
    width: 155px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000000;
    color: $grey;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
  }
}

.conrtollers-container {
  width: 320px;  
  display: flex;
  gap: 10px;
  flex-direction: column;

  &__row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
}

.create-car-select {
  padding: 2px;
  width: 150px;
  height: 25px;
  outline: none;
  background-color: $grey;
  border: #000000 1px solid;
  border-radius: 7px;
}

.change-car-input-name {
  padding: 2px 2px 2px 7px;
  width: 150px;
  height: 25px;
  outline: none;
  background-color: $grey;
  border: #000000 1px solid;
  border-radius: 7px;
}

.create-car-color,
.change-car-color {
  width: 40px;
  height: 25px;
  background-color: $dark-grey;
  outline: none;
  border: $middle-grey 1px solid;
  border-radius: 7px;
}

.race-btn,
.reaset-btn {
  width: 95px;
  height: 25px;
  background: linear-gradient(to right, #1e6300, #277902);
  outline: none;
  border: none;
  border-radius: 7px;  
}

.create-car-btn,
.change-car-btn,
.generate-cars-btn {
  width: 120px;
  height: 25px;  
  background: linear-gradient(to right, #330606, #200606);
  color: $grey;
  outline: none;
  border: none;
  border-radius: 7px;

  &:disabled {
    background: linear-gradient(to right, #292929, #1b1b1b);
    color: $grey;
  }
}

h2, h3 {
  color:rgb(214, 212, 212);
  margin-top: 10px;
}

.road-container {
  padding-top: 12px;
}

.road {
  display: flex;
  align-items: flex-end;
  height: 40px;
  width: 100%;  
  border-bottom: 2.5px #ffffff dotted;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 110px;
    top: -5px;
    height: 45px;
    width: 30px;
    background-size: 30px 45px;
    transform: rotate(-25deg);
    transform: scale(-1, 1);
    background-image: url('./assets/icons/flag.png');
    background-repeat: no-repeat;
  }
}

.car {
  display: block;
  height: 40px;
  width: 90px;  
  margin-bottom: -3px;
  transition: transform;
  transition-timing-function: ease-in-out;
  transform: translateX(65px);
}

.buttons-row {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 3px;
}

.second-row {
  position: absolute;
  gap: 3px;
  z-index: 10;
}

.car-btn {
  width: 70px;
  height: 20px;
  font-size: 12px;
  background-color: #000000;
  color: $grey;
  outline: none;
  border: none;
  border-radius: 7px;

  &:disabled {
    background: linear-gradient(to right, #292929, #1b1b1b);
    color: $grey;
  }
  &:active {
    background-color: #00fc00;
  }
}

.car-name {
  color: #ffffff;
}

.start-car-btn,
.stop-car-btn {
  width: 25px;
  height: 25px;
  border: 1.5px solid #000000;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(to right, #68916e, #90cf8e);
}

.bottom-btns-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 40px auto 70px;
}

.prev-page-btn,
.next-page-btn {
  width: 100px;
  height: 25px;
  background: linear-gradient(to right, #330606, #200606);
  color: $grey;
  outline: none;
  border: none;
  border-radius: 7px;
  &:disabled {
    background: linear-gradient(to right, #292929, #1b1b1b);
    color: $grey;
  }
}

footer {
  position: fixed;  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: repeating-linear-gradient(45deg, yellow 0, yellow 10px, #000 10px, #000 20px);
}

@media (max-width: 768px) {

  h1 {
    display: none;
  }
}

@media (max-width: 500px) {

  .car {
    height: 40px;
    width: 70px;
    margin-bottom: -13px;
  }

  .road::after {
    right: 85px;
    top: 0px;
    height: 50px;
    width: 35px;
    background-size: 30px 40px;
  }

}

@keyframes carMove {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(300px);
  }
}